
body {
    margin-top: 10rem;
    text-align: center;
    background-color: #ffe7d1;
}

#calc-body {
    margin: auto;
    width: 20rem;
    background-color: #537ec5;
    border-radius: 10%;
    padding-bottom: 2rem;
}

table {
    margin:auto;
}
input {
    margin: 2rem 0 2rem 1rem;
    font-size: 2rem;
    width: 10rem;
    height: 3rem;
}

button {
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
   display: inline-block;
   margin: 0.2rem;
}

#output {
    text-align: right;
}

